.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 120px;
    transition: 0.8s;

}
.hero img:hover{ 
    transform: scale(1.05);
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.hero h1 span{
  background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #FFF;
    background: linear-gradient(270deg,#DF8908 -5.09%,#B415FF 100%);
    cursor: pointer;
    transition: 0.8s;
   
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    transition: 0.8s;
}
.hero-connect:hover{
    border-color: #be5cef;
    transform: scale(1.05);
}
.hero-resume:hover{
    border-color: #B415FF;
    transform: scale(1.05);
}
.shubh_img{
    display: flex;
    text-align: center;
}
.shubh_img img{
    width: 320px;
    height: 320px;
    object-fit: cover;      /* keeps face proportion, fills circle */
    border-radius: 50%;     /* makes the image circle */
    display: block;
    margin: auto; 
    border: 4px solid #161513;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
   
}
.shubh_img  :hover{
    border-color: #B415FF;
    
}
@media(max-width:768px){
    .shubh_img img{
        margin-top: 120px;
        width: 309px;
    }
    .hero h1{
        margin-top: 50%;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 60px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;

    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;

    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}