.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-titel {
    position: relative;

}

.about-titel h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-titel img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left {
    width: 400px;
    /* adjust size as you need */
    height: 538px;
}

.about-left img {
    width: 401px;
    height: 602px;
    object-fit: cover;

}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.8s;
}

.abour-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #Df8908 -5.09%, #B415FF 102.28%);
}

.about-achivements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.8s;
}

.about-achivement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #Df8908 50%, #B415FF 100.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achivement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.2);
    transition: 0.8s;
}

.about-achivement :hover {
    transform: scale(1.2);
    transition: 0.8s;
}

@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-titel h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-titel img {
        width: 130px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
        align-items: center;

    }

    .about-skill p {
        font-size: 12px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-achivements {
        justify-content: space-between;
    }

    .about-achivement {
        gap: 20px;
    }

    .about-achivement h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .about-achivement p {
        font-size: 12px;

    }

    .about-achivement hr {
        gap: 20px;
    }


}